  .task-item {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .task-item h2 {
    text-transform: uppercase;
    text-align: center;
  }

  .todo-item {
    padding: 10px 0;
  }

  label {
    width:100%;
    cursor: pointer;
  }

  .todo-item input[type='checkbox'] {
    position: absolute;
    visibility: hidden;
  }

  .todo-item i.fa-check {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    margin-right: 14px;
    color: transparent;
  }

  .todo-item input:checked~i {
    color: tomato;
    border: 1px solid tomato;
  }

  .todo-item input:checked~.text {
    text-decoration: line-through;
    color: tomato;
  }

  .todo-item i.fa-trash {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    color: darkred;
    cursor: pointer;
  }

  .todo-item i.fa-trash:hover {
    color: red;
  }

  #noTasks {
    color: darkred;
    padding: 25px 0px;
    font-size: 20px;
  }
